html, body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background-image: url("https://horniverse.ai/game/images/game/environment/end/Bg.png");
    background-size: cover;
    background-position: center;
}

.loading-container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    inset: 0;
}

.loading-spinner {
    width: 100px;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
    border-top: 4px solid #fff; /* White color for the spinner */
    border-radius: 50%;
    animation: spin 1.3s linear infinite; /* Spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button, .child_button button {
    border-radius: 5px;
    background-color: #08262a;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    border: 5px solid #394d4a;
}

.button:hover, .child_button button:hover {
    background-color: #0c3b40;
}

.wallet-adapter-dropdown {
    width: 100%;
}

/* Стиль для поля ввода */
input[type="number"] {
    background-color: transparent;  /* Прозрачный фон */
    color: white;  /* Белый цвет текста */
    border: 1px solid rgba(255, 255, 255, 0.3);  /* Белая граница с прозрачностью */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

/* Стиль для стрелочек */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.gold {
    color: #FFD700;
    font-weight: bold;
}

.silver {
    color: #C0C0C0;
    font-weight: bold;
}

.bronze {
    color: #cd7f32;
    font-weight: bold;
}

.akcent {
    font-weight: bold;
    color: #EF4A82;
}