html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background-image: url("/../game/images/game/environment/end/Bg.png");
    background-size: contain;
    background-repeat: repeat-x;
}

.loading-container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    inset: 0;
}

.loading-spinner {
    width: 100px;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
    border-top: 4px solid #fff; /* White color for the spinner */
    border-radius: 50%;
    animation: spin 1.3s linear infinite; /* Spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button, .child_button button {
    border-radius: 25px;
    background-color: #51a8ef;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.button:hover, .child_button button:hover {
    background-color: #4795d5;
}

.wallet-adapter-dropdown {
    width: 100%;
}